<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn001.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn001.thumb.jpg</string>
		<key>Title</key>
		<string>Delta Airlines @ TPE</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn002.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn002.thumb.jpg</string>
		<key>Title</key>
		<string>Odaiba from Tokyo Tower</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn003.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn003.thumb.jpg</string>
		<key>Title</key>
		<string>Akabanebashi</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn004.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn004.thumb.jpg</string>
		<key>Title</key>
		<string>Meiji shrine</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn005.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn005.thumb.jpg</string>
		<key>Title</key>
		<string>Meiji shrine</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>jpn006.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn006.thumb.jpg</string>
		<key>Title</key>
		<string>Lotteria @ Ikebukuro</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn007.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn007.thumb.jpg</string>
		<key>Title</key>
		<string>Oji</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn008.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn008.thumb.jpg</string>
		<key>Title</key>
		<string>Suitengu</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn009.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn009.thumb.jpg</string>
		<key>Title</key>
		<string>Ad in subway station</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn010.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn010.thumb.jpg</string>
		<key>Title</key>
		<string>Sushi</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn011.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn011.thumb.jpg</string>
		<key>Title</key>
		<string>Tokyo Sky Tree</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>jpn012.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn012.thumb.jpg</string>
		<key>Title</key>
		<string>Asakusa</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn013.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn013.thumb.jpg</string>
		<key>Title</key>
		<string>Tokyo Tower</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn014.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn014.thumb.jpg</string>
		<key>Title</key>
		<string>JR Ueno station</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>jpn015.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn015.thumb.jpg</string>
		<key>Title</key>
		<string>Hakone Shrine</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn016.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn016.thumb.jpg</string>
		<key>Title</key>
		<string>Flower</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn017.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn017.thumb.jpg</string>
		<key>Title</key>
		<string>Soba bistro</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn018.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn018.thumb.jpg</string>
		<key>Title</key>
		<string>Soba bistro</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn019.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn019.thumb.jpg</string>
		<key>Title</key>
		<string>Cookpad</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>jpn020.jpg</string>
		<key>Location</key>
		<string>Tokyo</string>
		<key>Thumb</key>
		<string>jpn020.thumb.jpg</string>
		<key>Title</key>
		<string>Hakone Shrine</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo001.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo001.thumb.jpg</string>
		<key>Title</key>
		<string>Caltrain @ Millbrae</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo002.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo002.thumb.jpg</string>
		<key>Title</key>
		<string>Google I/O 2012 @ Moscone West</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo003.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo003.thumb.jpg</string>
		<key>Title</key>
		<string>Google I/O 2012</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sfo004.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo004.thumb.jpg</string>
		<key>Title</key>
		<string>Mexican food @ Sunnyvale</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo005.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo005.thumb.jpg</string>
		<key>Title</key>
		<string>Apple Store @ San Francisco</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo006.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo006.thumb.jpg</string>
		<key>Title</key>
		<string>Cable Car</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sfo007.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo007.thumb.jpg</string>
		<key>Title</key>
		<string>Luggages back to TPE</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo008.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo008.thumb.jpg</string>
		<key>Title</key>
		<string>Berkeley</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo009.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo009.thumb.jpg</string>
		<key>Title</key>
		<string>Mike’s Lab @ Soda Hall, Berkeley</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sfo010.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo010.thumb.jpg</string>
		<key>Title</key>
		<string>Powell station @ San Francisco</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sfo011.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo011.thumb.jpg</string>
		<key>Title</key>
		<string>Jellybean @ Googleplex</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo012.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo012.thumb.jpg</string>
		<key>Title</key>
		<string>Google bikes</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sfo013.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo013.thumb.jpg</string>
		<key>Title</key>
		<string>Square in font of Building 43 @ Googleplex</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sfo014.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo014.thumb.jpg</string>
		<key>Title</key>
		<string>Building 43 @ Googleplex</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sfo015.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo015.thumb.jpg</string>
		<key>Title</key>
		<string>Apple Campus @ Cupertino</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sfo016.jpg</string>
		<key>Location</key>
		<string>San Francisco</string>
		<key>Thumb</key>
		<string>sfo016.thumb.jpg</string>
		<key>Title</key>
		<string>1 Infinite Loop, Cupertino CA.</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sin001.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin001.thumb.jpg</string>
		<key>Title</key>
		<string>Singapore Changi Airport</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin002.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin002.thumb.jpg</string>
		<key>Title</key>
		<string>Singapore subway</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin003.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin003.thumb.jpg</string>
		<key>Title</key>
		<string>Hippo bus @ Singapore</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin004.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin004.thumb.jpg</string>
		<key>Title</key>
		<string>St. Andrew Cathedral</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin005.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin005.thumb.jpg</string>
		<key>Title</key>
		<string>Marina Bay Sands</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin006.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin006.thumb.jpg</string>
		<key>Title</key>
		<string>Singapore Buildings</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin007.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin007.thumb.jpg</string>
		<key>Title</key>
		<string>Parliament of Singapore</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin008.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin008.thumb.jpg</string>
		<key>Title</key>
		<string>Marina Bay</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin009.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin009.thumb.jpg</string>
		<key>Title</key>
		<string>Merlion @ One Fullerton</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sin010.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin010.thumb.jpg</string>
		<key>Title</key>
		<string>Bak kut teh</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin011.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin011.thumb.jpg</string>
		<key>Title</key>
		<string>Swimming pool @ Marina Bay Sands</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin012.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin012.thumb.jpg</string>
		<key>Title</key>
		<string>Swimming pool @ Marina Bay Sands</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin013.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin013.thumb.jpg</string>
		<key>Title</key>
		<string>Swimming pool @ Marina Bay Sands</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin014.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin014.thumb.jpg</string>
		<key>Title</key>
		<string>Swimming pool @ Marina Bay Sands</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin015.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin015.thumb.jpg</string>
		<key>Title</key>
		<string>Merlion @ Santosa</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>P</string>
		<key>Image</key>
		<string>sin016.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin016.thumb.jpg</string>
		<key>Title</key>
		<string>Merlion</string>
	</dict>
	<dict>
		<key>Direction</key>
		<string>L</string>
		<key>Image</key>
		<string>sin017.jpg</string>
		<key>Location</key>
		<string>Singapore</string>
		<key>Thumb</key>
		<string>sin017.thumb.jpg</string>
		<key>Title</key>
		<string>Gate A16 @ Changi Airport</string>
	</dict>
</array>
</plist>
